<div class="row">
  <div class="col-m12">
    <div id="<%= dom_id proponent %>">
    
      <p>
        <strong>Name:</strong>
        <%= proponent.name %>
      </p>

      <p>
        <strong>Cpf:</strong>
        <%= proponent.cpf %>
      </p>

      <p>
        <strong>Address:</strong>
        <%= proponent.address.street %>
      </p>

      <p>
        <strong>Birth date:</strong>
        <%= proponent.birth_date.strftime("%d/%m/%Y") %>
      </p>
       <p>
        <strong>Salary:</strong>
        <%= number_to_currency(proponent.salary) %>
      </p>
      <p>
        <strong>Inss Dedution:</strong>
        <%= number_to_currency(proponent.inss_dedution) %>
      </p>
      <p>
        <strong>Inss aliquot:</strong>
        <%= number_to_percentage(proponent.inss_aliquot, precision: 1) %>
      </p>
      <p>
        <strong>Inss Liquid Salary :</strong>
        <%= number_to_currency(proponent.inss_liquid_salary) %>
      </p>
      
    </div>
  </div>
</div>