<div class="row">
  <div class="col-m12">
    <div id="<%= dom_id proponent %>">
    
      <p>
        <strong>Name:</strong>
        <%= proponent.name %>
      </p>

      <p>
        <strong>Cpf:</strong>
        <%= proponent.cpf %>
      </p>

      <p>
        <strong>Address:</strong>
        <%= proponent.address_id %>
      </p>

      <p>
        <strong>Birth date:</strong>
        <%= proponent.birth_date %>
      </p>

      <p>
        <strong>Salary:</strong>
        <%= proponent.salary %>
      </p>

    </div>
  </div>
</div>